#senior-pic {
	background: url("../../images/Senior Picture.jpg") no-repeat 0 -20px;
	background-size: cover;
	height: 270px;
	width: 270px;
	border-radius: 140px;
	margin-left: 85px;			/* check math for centering */
}