#influencers {
	margin-top: 30px;
}
#connect {
	margin-top: 30px;
}
*  {
	color: black;
}
a:hover, a:hover * {
	color: gray;
}
#connect > div {
	float: left;
	margin-right: 50px;
	width: calc(20% - 40px);
}
#connect > div:nth-of-type(5n + 0) {
	margin-right: 0px;
}
